:root {
	--light: #e8feff;
	--light-cyan: #e0fbfc;
	--middle-cyan: #b5e0ed;
	--powder-blue: #c2dfe3;
	--pewter-blue: #9db4c0;
	--cadet: #5c6b73;
	--gunmetal: #2b3134;
	--jet: #2b2b2b;
	--lightgreen: #5ed983;
}

body {
	margin: 0;
	margin-top: 10px;
	background-color: var(--gunmetal);
	color: var(--pewter-blue);
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

#codearea {
	resize: none;
	background-color: var(--powder-blue);
	border-radius: 10px;
	padding: 3px;
	height: 60vh;
	font-family: monospace;
	color: black;
	overflow: auto;
}

button {
	margin: 3px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: var(--light);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: var(--jet);
	/*-webkit-text-stroke: 2px var(--jet);*/
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
}

button:active {
	background-color: var(--middle-cyan);
}

.flex {
	display: flex;
	justify-content: space-between;
}

.flex > * {
	flex: 1;
}

div.space {
	flex: 100;
}

.special_spacing {
	letter-spacing: -0.2em;
}

input[type="number"] {
	border-radius: 10px;
	padding: 1px;
	margin: 3px;
	width: 3em;
	height: 3em;
	text-align: center;
}

* {
	font-family: sans-serif;
}

@-webkit-keyframes saved {
    from, to { top:-100px}
    50% { top:0px }
}

#save {
	top: -100px;
	-webkit-animation:saved 5s;
	position: relative;
	text-align: center;
	border: 1px solid black;
	border-radius: 75px;
	background-color: var(--lightgreen);
	color: var(--jet);
	font-weight: 600;
	font-size: 15px;
}

#dl {
	cursor: pointer;
	filter: invert(60%);
}

#memory {
	height: calc(40vh - 80px);
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

#memory > div {
	height: 50px;
	width: 50px;
	margin: 2px;
	position:relative;
	border: 1px solid black;
	background-color: var(--light);
	color: var(--gunmetal);
}

.bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.value {
	font-family: monospace;
	font-size: 25px;
	text-align: center;
	margin: 0;
}

#memory > div.active_case {
	border: 1px solid red;
}

.show_letter {
	display: inline-block;
}

.show_letter {
	color: red;
	background-color: white;
	border-radius: 5px;
	initial-letter: normal;
}

.io {
	font-size: 20px;
	text-align: center;
}

.io textarea {
	height: 20vh;
	resize: none;
	width: 80%;
}

.io p {
	margin: 5px;
}

h3 {
	margin-bottom: 10px;
	margin-top: 0;
}

.desc {
	margin-left: 10px;
}

.desc p {
	margin: 1px;
}

.pin {
	font-size: 12px;
	font-weight: 800;
	border-radius: 100%;
	background-color: black;
	color: white;
	padding: 2px;
}

.center * {
	text-align: center;
}

.started {
	background-color: var(--lightgreen);
}

div {
	position: relative;
}

#desc {

	position: absolute;
	width: 50%;
	background: white;
	z-index: 2;
	border-radius: 10px;
	display: none;
	color: var(--jet);
	padding: 10px;
	border: 1px solid black;
	overflow: hidden;
}

#desc.visible_popup {
	display: block;
}